.DS_Store
.vscode
.venv

bibliography/*
!/bibliography/.gitkeep

archive/*
!archive/.gitkeep

data/*
!/data/.gitkeep
!/data/README.md

pdf/*
!/pdf/.gitkeep

script/orchestrator

_*
!__init__.py

*.egg-info
*.so

__pycache__/
*.pyc

*.aux
*.bbl
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.blg
*.run.xml
*.nav
*.snm
*.vrb
*.lof
*.lot
*.cfg
_minted