*.pxd linguist-language=Cython
*.pyx linguist-language=Cython
*.h linguist-language=C++
*.cpp linguist-language=C++
# *.cpp -linguist-generated
*.tex linguist-language=TeX
*.bib linguist-language=TeX
*.sty linguist-language=TeX
*.cls linguist-language=TeX